{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 0
  }
}
